body {
background-color: rgb(128,128,128);
}

.box {  
width: cover;
height:400px;
background-image: radial-gradient(rgb(200,166,260),rgb(255,228,181));
position:;
}

.box h1 {
margin: 25px;
font-family: 'Petrona' serif;
font-weight: 900;
color:rgb(128,128,128);
font-size: 80px;
text-align: center;
position: relative;
top: 50%;
transform: translateY(-80%);
}

.box h2 {
font-family:  'Petrona' serif;
font-weight: 300;
color:rgb(128,128,128);
font-size: 50px;
text-align: center;
position: relative;
top: 50%;
transform: translateY(-230%); 
}


h3 {
font-family: 'Red Hat Display', sans-serif;
font-weight: 500;
font-style: italic;
color: rgb(255,228,181);
font-size: 33px;
text-align: center;
}

h4 {
margin: 25px;
font-family:  'Petrona' serif;
font-weight: 700;
color:rgb(200,166,260);
font-size: 36px;
text-align: left;
}

p {
margin: 25px;
font-family: 'Red Hat Display', sans-serif;
font-weight: 300;
color:white;
font-size: 24px;
text-align: left;
}

ul {
margin: 25px;
font-family: 'Red Hat Display', sans-serif;
font-weight: 300;  
font-size: 24px;
text-align: left;   
}

div.image {
text-align: center;
}

div.video {
text-align: center;
}
