body {
 background-color: rgb(222,184,135);
 background: centre url(Fruit Bowl.png);
 background-size: cover;
}

div {
 border-width: 1px
 background color: rgb(112,128,144);
}

h1 {
 color: rgb(222,184,135);
}
