body {
 background-color: rgb(105,105,105);  
}

h1 {
   text-align: centre;
   color: white; 
   font-size: 55px;
   font-family: 'Erica One', cursive;
   text-shadow: 4px, 4px, 5px, black;  
} 

h2 {
  font-family: 'Indie Flower', cursive;
  text-align: centre;
}

h3 {
   font-family: 'Kalam', cursive;
}

p {
   font-family: 'Roboto', sans-serif;
}

